.wrapper {
	padding: 92px 20px 73px;
	max-width: 1200px;
	margin: 0 auto;
	@include full-font($avenir, 14px, #333);
}

.main-title {
	margin:  0 0 30px;
	font-weight: bold;
	text-align: center;
  font-size: 17px;
}

.create-product-btn,
.create-product-btn:hover,
.create-product-btn:focus,
.create-product-btn:active,
.create-category-btn,
.create-category-btn:hover,
.create-category-btn:focus,
.create-category-btn:active {
  padding: 12px;
  border-radius: 8px;
  float: right;
  background: #ff566f;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.category-filter {
	float: left;
}

table thead th {
	font-weight: bold;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.delete-link,
.edit-link {
	color: #ff566f !important;
	cursor: pointer;
	text-decoration: none;
}

.status-text {
	text-transform: capitalize;
}

.delete-link:hover,
.edit-link:hover {
	text-decoration: underline;
	color: #ff566f;
}

.category-filter {
	@media only screen and (max-width: 719px) {
		margin-bottom: 20px;
    display: block;
    float: none;
	}

	select {
		height: 30px;
		padding: 4px 10px;
		border: solid 0.5px #e6e6e6;
	  border-radius: 4px;
  }
}

.user-page-category {
  margin: 0 0 20px 15px;
}

.product-card-container {
	&:last-child {
		.product-card {
			margin-bottom: 0;
		}
	}

	&:nth-child(4n) {
		clear: both;
	}

	.product-card {
		border: solid 0.5px #efefef;
		margin: 0 0 30px;
		padding: 20px;
		box-shadow: -4px 4px 0 0 rgba(0, 0, 0, 0.05);
		position: relative;

		a {
			display: block;
	    color: #333;
	    text-decoration: none;
		}

		img {
			width: 100%;
			margin-bottom: 20px;
		}

		.product-info {
			.product-title {
				font-size: 17px;
			}

			.total-stock-details {
				span {
					color: #ff566f;
				}
			}

			.product-category {
				font-size: 10px;
				font-weight: bold;
		    text-transform: uppercase;
		    letter-spacing: 2px;
			}

			p {
				margin-bottom: 10px;
			}

			.availability-status {
				color: #ff0000;
			}
		}

		.product-update-links {
			position: absolute;
	    right: 20px;
	    top: 20px;

	    .delete-link {
	    	margin-left: 10px;
	    }
		}
	}
}

.modal-message {
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #eee;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  z-index: 99999;
  display: none;
  background: #fff;

  p {
  	font-size: 16px;
    margin-bottom: 20px;
  }

  .modal-btn-wrapper {
  	span {
  		width: 70px;
	    padding: 8px 0;
	    border-radius: 6px;
	    display: inline-block;
	    cursor: pointer;
  	}

  	span:first-child {
	    background: #fff;
	    color: #333;
	    border: 1px solid #333;
  	}

  	span:last-child {
	    background: #ff566f;
	    color: #fff;
      margin-left: 20px;
  	}
  }
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.7;
  z-index: 9999;
  display: none;
}

.show-stock-modal,
.show-product-modal,
.show-category-modal {
	.modal-message,
	.modal-overlay {
		display: block;
	}
}

.product-detail-container {
	img,
	.product-info {
		float: left;
		width: 50%;
	}

	.product-info {
		padding-left: 30px;
		
		.availability-status {
			color: #ff0000;
		}
	}
}